<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User and Points List</title>
</head>
<body>
<h2>Список пользователей</h2>
<ul id="users-list"></ul>

<h2>Список точек на проверке</h2>
<ul id="points-list"></ul>

<script>
    // Функция для получения данных по URL и обновления списка пользователей
    function getUsers() {
        fetch('/api/v1/users')
            .then(response => response.json())
            .then(data => {
                const usersList = document.getElementById('users-list');
                usersList.innerHTML = ''; // Очищаем список перед обновлением

                data.forEach(user => {
                    const listItem = document.createElement('li');
                    listItem.textContent = user.name; // Предполагаем, что у пользователя есть поле name
                    usersList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Ошибка получения списка пользователей:', error));
    }

    // Функция для получения данных по URL и обновления списка точек на проверке
    function getPoints() {
        fetch('/api/v1/points/admin')
            .then(response => response.json())
            .then(data => {
                const pointsList = document.getElementById('points-list');
                pointsList.innerHTML = ''; // Очищаем список перед обновлением

                data.forEach(point => {
                    const listItem = document.createElement('li');
                    listItem.textContent = point.description; // Предполагаем, что у точки есть поле name
                    pointsList.appendChild(listItem);
                    listItem.addEventListener('click', function() {
                        console.log(point.id)
                        window.location.href = "reject-point-card?id=" + point.id;
                    });
                });
            })
            .catch(error => console.error('Ошибка получения списка точек:', error));
    }

    // Вызываем функции для получения данных и обновления списков при загрузке страницы
    getUsers();
    getPoints();
</script>
</body>
</html>