<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Личный кабинет</h2>
<button id="personalData">Мои данные
    <script>
        // Получаем кнопку по id
        var button = document.getElementById('personalData');
        // Добавляем обработчик события для клика по кнопке
        button.addEventListener('click', function() {
            // Перенаправляем пользователя на страницу /auth
            window.location.href = '/personal-data';
        });
    </script>
</button>
<br>
<button id="myPoints">Мои точки
    <script>
        var button = document.getElementById("myPoints")
        button.addEventListener("click", function (){
            window.location.href = "/my-points"
        })
    </script>
</button>
</body>
</html>