<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление точки на карту</title>
</head>
<body>
<div id="map" style="width: 600px; height: 400px"></div>
<form id="uploadForm" enctype="multipart/form-data" method="post">
    <input type="file" id="fileInput" name="file">
    <input type="text" id="description" name="description" placeholder="Напишите доп информацию">
    <button id="getLocationButton" type="submit">Get Location</button>
</form>
<!--<label for="description"></label><input id="description" placeholder="Напишите доп информацию">-->
<br>
<!--Добавьте фотографию: <input type="file" id="image" name="image">-->
<!--<button id="getLocationButton">Get Location</button>-->

</body>
<script src="https://api-maps.yandex.ru/2.1/?apikey=cde97d8a-7675-4dd5-90c2-f7ee6e1eaec6&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    var map;

    ymaps.ready(function() {
        map = new ymaps.Map('map', {
            center: [55, 34],
            zoom: 10
        }, {
            searchControlProvider: 'yandex#search'
        });

        var geolocation = ymaps.geolocation
        geolocation.get({
            provider: 'browser',
            mapStateAutoApply: true
        }).then(function (result) {
            result.geoObjects.options.set('preset', 'islands#redCircleIcon');
            map.geoObjects.add(result.geoObjects);
        });
        fetch('/api/v1/points')
            .then(response => response.json())
            .then(data => {
                data.forEach(point => {
                    var coordinates = [point.longitude, point.latitude];
                    var placemark = new ymaps.Placemark(coordinates);
                    map.geoObjects.add(placemark);
                });
            })
            .catch(error => {
                console.error('Error fetching points:', error);
            });
    });
    var button = document.getElementById('uploadForm');
    button.addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию
        ymaps.geolocation.get({
            mapStateAutoApply: true,
            provider: 'browser'
        }).then(function (result) {
            var userCoodinates = result.geoObjects.get(0).geometry.getCoordinates();
            var description = document.getElementById("description").value
            var formData = new FormData(); // Создаем объект FormData
            var fileInput = document.getElementById('fileInput');
            formData.append('file', fileInput.files[0]); // Добавляем выбранный файл в FormData
            formData.append('latitude', userCoodinates[1])
            formData.append("longitude", userCoodinates[0])
            formData.append("description", description)
            console.log("12341235")
            var locationData = {
                latitude: userCoodinates[0],
                longitude: userCoodinates[1],
                description: formData,
            };
            fetch('/api/v1/points', {
                    method: 'POST',
                    // headers: {
                    //     'Content-Type': 'application/json'
                    // },
                    body: formData
                }
            )
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.status);
                }
                return response.text();
            })
            .then(data => {
                // Обработка успешного ответа
                alert(data); // Всплывающее окно с сообщением
                window.location.href = '/'; // Редирект на страницу /welcome
            })
            .catch(error => {
                alert('Error: ' + error); // Всплывающее окно с сообщением об ошибке
            });
        });
    });
</script>
</html>