<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=cde97d8a-7675-4dd5-90c2-f7ee6e1eaec6&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<p>Дата: </p>
<p id="date"></p>
<br>
<p>Описание: </p>
<p id="description"></p>
<br>
<div id="map" style="width: 600px; height: 400px"></div>
<div id="imageContainer"></div>
<script>
    // Функция для заполнения данных на странице
    let point_latitude;
    let point_longitude;
    const imageContainer = document.getElementById('image-container');
    // function fillData(data) {
    //     // Получаем ссылки на элементы, в которые будем вставлять данные
    //     const dateElement = document.getElementById('date');
    //     const descriptionElement = document.getElementById('description');
    //
    //     // Заполняем элементы данными из полученного объекта
    //     dateElement.textContent = data.date;
    //     descriptionElement.textContent = data.description;
    //     point_latitude = data.latitude;
    //     point_longitude = data.longitude;
    //     console.log(point_latitude, point_longitude)
    // }

    var currentUrl = window.location.href;

    // Разбиваем URL на части с помощью метода split() по символу "?"
    var urlParts = currentUrl.split('?');

    // Если в URL есть часть с параметрами запроса
    if (urlParts.length > 1) {
        // Получаем часть с параметрами запроса после символа "?"
        var queryString = urlParts[1];

        // Разбиваем строку с параметрами запроса на отдельные параметры
        var params = queryString.split('&');

        // Проходим по каждому параметру
        for (var i = 0; i < params.length; i++) {
            // Разбиваем параметр на ключ и значение
            var keyValue = params[i].split('=');

            // Если ключ равен "id"
            if (keyValue[0] === 'id') {
                // Значение параметра "id" будет keyValue[1]
                var idValue = keyValue[1];
                console.log('Значение параметра "id":', idValue);
                // Выход из цикла, так как мы уже нашли значение "id"
                break;
            }
        }
    }
    // Используем Fetch API для получения данных
    fetch('/api/v1/points/' + idValue)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Вызываем функцию для заполнения данных на странице
            // fillData(data);
            const dateElement = document.getElementById('date');
            const descriptionElement = document.getElementById('description');

            // Заполняем элементы данными из полученного объекта
            dateElement.textContent = data.date;
            descriptionElement.textContent = data.description;
            point_latitude = data.latitude;
            point_longitude = data.longitude;
            //console.log(point_latitude, point_longitude)\var myMap;

            // Дождёмся загрузки API и готовности DOM.
            ymaps.ready(init);
            function init () {
                myMap = new ymaps.Map('map', {
                    center: [point_longitude, point_latitude], // Москва
                    zoom: 15
                }, {
                    searchControlProvider: 'yandex#search'
                });
                var coordinates = [point_longitude, point_latitude];
                var placemark = new ymaps.Placemark(coordinates);
                myMap.geoObjects.add(placemark);
            }
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });

    fetch("/api/v1/point/" + idValue + "/image")
        .then(response => {
            if (!response.ok){
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Создаем элемент изображения
            const imgElement = document.createElement('img');
            console.log(data[0])
            console.log(data[0].contentType, data[0].originalFileName)
            imgElement.src = 'data:' + data[0].contentType + ';base64,' + data[0].bytes;
            //console.log(imgElement)
            // Создаем элемент для описания
            const descriptionElement = document.createElement('p');
            descriptionElement.textContent = data[0].originalFileName;

            // Создаем контейнер для изображения и описания
            const containerDiv = document.createElement('div');
            containerDiv.appendChild(imgElement);
            containerDiv.appendChild(descriptionElement);

            // Добавляем контейнер на страницу
            const imageContainer = document.getElementById('imageContainer');
            imageContainer.appendChild(containerDiv);
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });
</script>
</body>
</html>