<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="login">Name:</label>
<input type="text" id="login"><br>
<label for="password">Password:</label>
<input type="password" id="password"><br>
<label for="roles"></label>
<select id="roles">
    <script>
        const rolesSelect = document.getElementById('roles');

        // Загружаем значения выпадающего списка из JSON
        fetch('/api/v1/roles')
            .then(response => response.json())
            .then(data => {
                // Для каждого элемента данных создаем и добавляем опцию в выпадающий список
                data.forEach(role => {
                    const option = document.createElement('option');
                    option.value = role; // Значение опции равно значению роли
                    option.textContent = role; // Текст опции равен значению роли
                    rolesSelect.appendChild(option); // Добавляем опцию в выпадающий список
                });
            })
            .catch(error => {
                console.error('Error fetching roles:', error);
            });
    </script>
</select>

<button id="regButton">
    Зарегистрироваться
    <script>
        document.getElementById('regButton').addEventListener('click', function() {
            // Сбор данных о пользователе из формы
            var name = document.getElementById('login').value;
            var password = document.getElementById('password').value;

            var userData = {
                name: name,
                password: password
            };

            fetch('/api/v1/new-user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.status);
                    }
                    return response.text();
                })
                .then(data => {
                    // Обработка успешного ответа
                    alert(data); // Всплывающее окно с сообщением
                    window.location.href = '/account'; // Редирект на страницу /welcome
                })
                .catch(error => {
                    // Обработка ошибки
                    if (error.message === "422") {
                        alert('Error: ' + "Пользователь с таким Login уже существует"); // Всплывающее окно с сообщением об ошибке
                    } else {
                        alert('Error: ' + error); // Всплывающее окно с сообщением об ошибке
                    }
                });
        });
    </script>
</button>

<script>

</script>

</body>
</html>